@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Madimi+One&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

html{
    scroll-behavior: smooth;
}

body{
    width: 1200px;
    background-color: var(--cor_main_claro);
    font-family: var(--font_principal);
}
